CHAINSETTLE_POSTGRES_DB=chainsettle
CHAINSETTLE_POSTGRES_USER=chainsettle
CHAINSETTLE_POSTGRES_PASSWORD=change-me-postgres-password

CHAINSETTLE_FABRIC_VERSION=2.5.15
CHAINSETTLE_CA_VERSION=1.5.12
CHAINSETTLE_CHAINCODE_VERSION=1.0
CHAINSETTLE_CHAINCODE_SEQUENCE=1
CHAINSETTLE_CHANNEL_NAME=settlement-channel
CHAINSETTLE_CHAINCODE_NAME=token-settlement
CHAINSETTLE_FABRIC_CONFIG_BASE=.
CHAINSETTLE_FABRIC_BANKALPHA_PROFILE=fabric-config/connection-bankalpha.json
CHAINSETTLE_FABRIC_BANKBETA_PROFILE=fabric-config/connection-bankbeta.json
CHAINSETTLE_FABRIC_CLEARINGHOUSE_PROFILE=fabric-config/connection-clearinghouse.json

CHAINSETTLE_COUCHDB_USER=chainsettle_couch
CHAINSETTLE_COUCHDB_PASSWORD=change-me-couchdb-password
CHAINSETTLE_FABRIC_CA_ADMIN_USER=chainsettle_ca_admin
CHAINSETTLE_FABRIC_CA_ADMIN_PASSWORD=change-me-ca-admin-password

CHAINSETTLE_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CHAINSETTLE_DASHBOARD_API_BASE=http://localhost:8080

CHAINSETTLE_SIMULATOR_ENABLED=true
CHAINSETTLE_SIMULATOR_INTERVAL_MS=2000
CHAINSETTLE_SIMULATOR_INITIAL_MINT_AMOUNT=10000000
CHAINSETTLE_SIMULATOR_INITIAL_MINT_AMOUNT_EUR=5000000
CHAINSETTLE_SIMULATOR_MIN_TRANSFER_AMOUNT=1000
CHAINSETTLE_SIMULATOR_MAX_TRANSFER_AMOUNT=500000
CHAINSETTLE_SIMULATOR_DVP_PROBABILITY=0.20
CHAINSETTLE_SIMULATOR_BATCH_PROBABILITY=0.10
CHAINSETTLE_SIMULATOR_FAILURE_PROBABILITY=0.05
CHAINSETTLE_SIMULATOR_DURATION_MINUTES=0
