.DS_Store
.env
.fabric/
.gradle/
.gradle-dist/
.idea/
.vscode/
node_modules/
**/.classpath
**/.project
**/.settings/
**/build/
**/out/
**/target/
**/*.class
**/*.log
**/.springBeans
**/.sts4-cache/
organizations/
channel-artifacts/
system-genesis-block/
postgres_data/
docs/images/generated/
